# Mid-term Exam

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github//afarbin/DATA1401-Spring-2020/blob/master/Exams/Mid-term/Exam.ipynb)

Add cells to this notebook as you need for your solutions and your test of your solutions.

In [0]:
import numpy as np

1. Write a function `first_alphabetically(lst)` that takes a list `lst` of strings and returns the string that is alphabetically first. For example, calling your function with the list of states:

In [0]:
states=['Mississippi', 'Maryland', 'Delaware', 'Connecticut', 'Virginia', 'Utah', 'Kansas',
        'Wyoming', 'Indiana', 'Louisiana', 'Missouri', 'Illinois', 'Minnesota', 'Vermont', 
        'New Mexico', 'North Dakota', 'Wisconsin', 'Tennessee', 'New York', 'Oklahoma', 
        'Colorado', 'Pennsylvania', 'West Virginia', 'Alabama', 'Montana', 'Texas', 
        'Washington', 'Michigan', 'New Hampshire', 'Arkansas', 'Hawaii', 'Iowa', 
        'Idaho', 'Kentucky', 'Ohio', 'Nebraska', 'Alaska', 'Oregon', 'South Dakota', 
        'New Jersey', 'Florida', 'Georgia', 'Rhode Island', 'Arizona', 'Maine', 
        'South Carolina', 'California', 'Nevada', 'Massachusetts', 'North Carolina']

In [69]:
def first_alphabetically(lst):
  sorted_list = list()
  minimum = lst[0]
  for i in lst:
    if i < minimum:
      minimum = i
  return minimum
first_alphabetically(states)

'Alabama'

should return the string `"Alabama"`. Note that you can compare strings:

In [61]:
print("A">"B")
print("B">"A")
print("A">"a")
print("bca">"bbc")

False
True
False
True

Make sure your implementation isn't case sensitive. Do not use python's built-in `min`, `max`, `sort` or any other sort function you find.

**2**. Write a function `arg_first_alphabetically(lst)`, which does the same thing as in exercise 1 but returns the index of the first string alphabetically.

In [62]:
def arg_first_alphabetically(lst):
  minimum = first_alphabetically(lst)
  for i in range(len(lst)):
    if lst[i] == minimum:
      return i
arg_first_alphabetically(states)

23

3. Use your result in question 2 to implement a function `arg_sort_alphabetically(lst)` that returns a list that is alphabetically sorted. Sorting can be accomplished by successively applying the function in question 1 and removing the first element alphabetically. You can remove an element from a list using `pop()`. Make sure your implementation isn't case sensitive. Do not use python's built-in `min`, `max`, `sort` or any other sort function you find.

In [63]:
def arg_sort_alphabetically(lst):
  sorted_list = []
  while len(lst)>0:
    pos = (arg_first_alphabetically(lst))
    sorted_list.append(lst[pos])
    lst.pop(pos)
  return (sorted_list)
arg_sort_alphabetically(states)

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

4. Implement a function `outer_product` that takes two one-dimensional lists of numbers and returns the two-dimensional outer product matrix defined as:

\begin{equation*}
\begin{pmatrix} x_1\\x_2\\ \vdots \\x_m \end{pmatrix} \begin{pmatrix} y_1&y_2& \dots &y_n\end{pmatrix} =
\begin{pmatrix}
x_1y_1 & x_1y_2 & \dots & x_1y_n\\
x_2y_1 & x_2y_2 & \dots & x_2y_n\\
\vdots & \vdots & \ddots & \vdots \\
x_my_1 & x_my_2 & \dots & x_my_n
\end{pmatrix}
\end{equation*}

In other words the elements of matrix C which is the outer product of A and B are $c_{ij} = a_i b_j$.

In [64]:
def outer_product(a,b):
  out= np.zeros((len(a),len(b)))
  for i in range (len(a)):
    for j in range (len(b)):
      out[i][j] = a[i]*b[j]
  return out
outer_product([1,2],[3,4])

array([[3., 4.],
       [6., 8.]])

5. Implement a function `cumulative_sum(lst)` that takes a list of numbers and returns a list of same size where the element `i` is the sum of the elements `0` to `i` of the input list. For example given `[1,2,3]`, you should return [1,3,6].

In [65]:
def cumilative_sum(lst):
  for i in range(1,len(lst)):
    lst[i] += lst[i-1]
  return lst

cumilative_sum([1,2,3])

[1, 3, 6]

6. Imagine you have a normal distributed random variable `x`. For example `x` can be grades on this exam. Using the normal distribution generator and histogram functions from lecture (provided below) and `cumulative_sum` from previous question to compute what is the value of $x_{90}$ in $\sigma$ such that 90% of the values $x$ are below $x_{90}$. In other words:

$$
\int_{-\infty}^{x_{90}} N(x;\mu=0,\sigma=1) dx = 0.9
$$

In [0]:
import math,random

def arange(x_min,x_max,steps=10):
    step_size=(x_max-x_min)/steps
    x=x_min
    out = list()
    for i in range(steps):
        out.append(x)
        x+=step_size
    return out

def generate_normal(N,m=0,s=1):
    out = list() 
    
    while len(out)<N:
      for _ in range(int(float(N)/2)+1):
        U1=random.random()
        U2=random.random()
    
        out.append(s*math.sqrt(-2*math.log(U1))*math.cos(2*math.pi*U2)+m)
        out.append(s*math.sqrt(-2*math.log(U1))*math.sin(2*math.pi*U2)+m)

    return out[:N]

def histogram(data, n_bins=10,x_min=None, x_max=None):
    if x_min==None:
        x_min=min(data)
    if x_max==None:
        x_max=max(data)
    total_sum = sum(data)
    x90 = 0.9 * total_sum
    bin_edges = arange(x_min,x_max,n_bins)
    bin_edges.append(x_max)

    hist=[0]*n_bins
    
    for d in data:
        for i in range(n_bins):
            if d>=bin_edges[i] and d<bin_edges[i+1]:
                hist[i]+=1
                break
                
    return hist,bin_edges

def q6(data_points):
  data = generate_normal(data_points)
  hist,bin_edges = histogram(data)
  sort(bin_edges)
  cum_sum = cumilative_sum(data)
  x90 = 0.9 * data_points
  var = 0
  for i in range(len(hist)):
    var += hist[i]  
    if var > x90:
      return i-1
    
  # number = bin_edges[0]
  # minimum = abs(number-x90)
  # # x>x90 but x-x90 <min
  # for i in bin_edges:
  #   if i >= x90 and i-x90 < minimum:
  #     number = i

In [0]:
data = generate_normal(10)
data

In [89]:
histogram(data)

([3, 0, 0, 3, 1, 1, 0, 1, 0, 0],
 [-1.7277428078986499,
  -1.3741973227884683,
  -1.0206518376782867,
  -0.6671063525681051,
  -0.3135608674579235,
  0.039984617652258136,
  0.39353010276243977,
  0.7470755878726214,
  1.100621072982803,
  1.4541665580929846,
  1.8077120432031661])